<!DOCTYPE html>

<html>
<head>
    <title>MarkDown Notebook</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/webicon/notes.ico">
</head>
<body>
    <!-- 载入Vue.js -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <!-- 载入marked -->
    <script src="https://unpkg.com/marked@0.7.0/lib/marked.js"></script>
    <!-- 载入moment -->
    <script src="https://unpkg.com/moment@2.24.0/moment.js"></script>
    <div id="mdNotebook" class="notebook">
        <!-- 工具栏 -->
        <aside class="tool-bar">
            <div class="add" @click="addNote" :title="calAddTitle">
                + 添加
            </div>
            <div class="delete" @click="deleteNote" title="删除笔记">
                - 删除
            </div>
            <div class="notes-title-input" v-if="selectedNote">
                <label class="input-label">标题:</label>
                <input class="title-input" type="text" placeholder="笔记标题" 
                        v-model="selectedNote.title" /> 
            </div>
            <div class="notes-items">
                <div class="note" v-for="note in notes" @click="selectNote(note)"
                    :class="{ selected: note === selectedNote}">
                    {{ note.title }}
                </div>
            </div>
        </aside>

        <template v-if="selectedNote">
            <!-- 主面板 -->
            <section class="main">
                <textarea class="note-input" v-model="selectedNote.content">
                </textarea>
                <div class="status-bar">
                    创建于：<span class="date">{{ selectedNote.created | date }}</span>
                </div>
            </section>

            <!-- 预览板 -->
            <aside class="preview" v-html="notePreview"></aside>
        </template>
    </div>

    <!-- 驱动JS -->
    <script src="script.js"></script>
</body>
</html>